body, html {
    justify-content: center;
    align-items: center;
    background-color: #000c18;
    margin: 0;
    height:100%;
}

input[type="file"] {
    display: none;
}

.title {
    font-size: 3.5rem;
    font-weight: 900;
    padding-top: 2rem;
    color: white;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.upload {
    font-size: 1rem;
    font-weight: 900;
    margin-top: 2rem;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    padding-left: .5em;
    border-radius: 1em;
    background-color: white;
    color: #000c18;
    cursor: pointer;
}

.text-container {
    border-radius: 25px;
    width: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
}

.original-container {
    width: 300px;
}

.translation-container {
    width: 300px;
}

.original-text {
    font-size: 2em;
    font-weight: 700;
    color: lightblue;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
}

.translated-text {
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
}